mixin menuItem(className,itemClass,items)
    each item in items
        li(class=`${className}`)
            a(class=`${itemClass}` href=`${item['link']}`)= item.title
mixin socials(items)
    each item in items
        a.c-socials__social-icon(href=`${item['link']}` target="_blank")
            svg.c-social-icon__svg
                use(xlink:href=`assets/img/sprite.svg#${item['icon']}`)
mixin hero(className,needFIO)
    .c-hero(class=`${className}`)
        img.c-hero__image(src='assets/img/hero.png')
        if(needFIO == true)
            .c-hero__title Павел Мирошин
            .c-hero__sub-title Личный сайт веб разработчика
mixin skill(proc,name)
    svg.skill-circle(width='110', height='110')
        circle.skill-circle__first(r='45', cx='50%', cy='50%', fill='none')
        circle.skill-circle__second(class=`circle-${proc}` r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
    .c-skill__name=name

mixin contactList(icon,link,text)
    li.c-contact-list__item
        svg.c-item-icon
            use(xlink:href=`assets/img/sprite.svg#${icon}`)
        a(href=`${link}`, target='_blank').c-item-link=text
mixin menu()
    .c-menu
        .c-menu__bg
        .c-menu__bg.bg_right
        .c-menu__container
            ul.c-menu__list
                +menuItem('c-menu__item','c-menu__link',[{title: "Мои работы", link: "works.html"}, {
                    title: 'Обо мне',
                    link: 'about.html'
                    }, {title: 'Блог', link: 'blog.html'},
                    {
                        title: 'Авторизация',
                        link: 'index.html'
                    }])
